body {
    background: rgb(84, 110, 133);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;}
    
    h1 {font-style: normal;}
    h2 {font-style: italic;}

    .btn {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
      }
      .btn:hover {background: #eee};
      
      .About {color: greenyellow};
      .Social {color: greenyellow};

      #container {
        display: flex;
        align-items: center;
    }
    
    #container p {
        margin-left: 1em;
    }

    a.button {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
      }
 